*{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    font-size: large;
    
}

.menu li a{
    background-color: lightskyblue;
    padding: 10px;
    
}
.menu li :hover{
    background-color: green;
    
}
a{
    color: white;
}

